.page {
  font-weight: bold;
}

.button {
  border: none;
  color: white;
  padding: 6px 8px 4px;
  background-color: darkgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}

.button:disabled {
  background-color: lightgray;
}

.indentRight1 {
  margin-right: 5px;
}

.indentRight2 {
  margin-right: 15px;
}

.indentLeft1 {
  margin-left: 5px;
}

.indentLeft2 {
  margin-left: 15px;
}
