.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 8px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #008000;
}

.inline {
  display: inline-block;
}

.inlineRight {
  display: inline-block;
  float: right;
}
