.container {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .container {
    width: 65%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}

.loading {
  text-align: center;
}
.avatar {
  text-align: center;
  margin-bottom: 10px;
}
span {
  font-weight: bold;
  color: grey;
  margin-right: 5px;
}
.buttonContainer {
  float: right;
  margin-top: 10px;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  padding: 12px 28px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
}
.button:hover {
  background-color: #008000;
}
