.container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
}

thead th {
  padding: 20px 10px;
}

.editIcon {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-right: 4px;
  cursor: pointer;
}

.deleteIcon {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 4px;
  cursor: pointer;
}

.actions {
  text-align: center;
}
.avatar {
  padding: 9px 5px 5px;
}
.phone {
}
.email {
}
.website {
}
@media screen and (max-width: 900px) {
  .website {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .email {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .phone {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .website {
    display: none;
  }
}
