.container {
  width: 80%;
  margin: 20px auto;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 98%;
  }
}
